.additional-products__item {
    list-style: none;
    border-top: 1px solid #EBEBEB;
    padding-top: 13px;
    padding-bottom: 18px;

    @media (min-width: $tablet-width) {
        border: 1px solid #EBEBEB;
        padding: 26px 38px 28px;
    }

    @media (min-width: $desktop-width) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        border-left: 0;
        border-right: 0;
    }


    p {
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        margin: 0;

        @media (min-width: $tablet-width) {
            font-size: 20px;
            line-height: 20px;
        }
    }
}

.additional-products .form__green-line-box {
    margin-top: 25px;
    margin-bottom: 36px;

    @media (min-width: $tablet-width) {
        margin-top: 68px;
        margin-bottom: 80px;
    }

    @media (min-width: $desktop-width) {
        margin-top: 76px;
        margin-bottom: 81px;
    }
}

.additional-products__list {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
        padding: 0  30px;
    }

    @media (min-width: $desktop-width) {
        width: 896px;
        padding: 0;
    }
}

.additional-products__table {
    font-family: "Arial";
    font-size: 14px;
    line-height: 14px;

    display: flex;
    justify-content: space-between;

    margin-top: 13px;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
        font-size: 16px;
        line-height: 20px;
    }

    @media (min-width: $desktop-width) {
        width: 325px;
        padding-right: 37px;
        margin: 0;
        margin-left: auto;
    }
}

.catalog-main__button--additional {
    min-width: 280px;
    width: 100%;
    margin: 0;

    @media (min-width: $tablet-width) {
        min-width: 632px;
        padding: 0;
    }

    @media (min-width: $desktop-width) {
        width: 244px;
        min-width: 244px;
    }
}

.additional-products__box {
    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
        width: 652px;
        margin: 0;
    }
}

.additional-products-and-gift-flex {
    @media (min-width: $desktop-width) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 110px;
        margin-bottom: 86px;
    }
}
