.diet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.diet-style {
    // width: 280px;
    padding-left: 20px;
    // padding-right: 33px;

    background-color: #F2F2F2;
}

.diet-style p {
    width: 227px;
}
