.example {
    background-color: #EAEAEA;

    @media (min-width: $tablet-width) {
        background-color: inherit;
    }

    h2 {
        font-size: 36px;
        line-height: 40px;
        font-weight: 400;

        margin: 0;
        margin-bottom: 33px;

        @media (min-width: $tablet-width) {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 63px;
        }
    }
}

.example__wrapper {
    margin-top: 27px;

    @media (min-width: $tablet-width) {
        margin-top: 43px;
    }
}

.example__flex-container,
.example h2 {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
        padding: 0 30px;
    }

    @media (min-width: $desktop-width) {
        padding: 0 110px;
    }
}

.example__description {
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    min-width: 280px;

    @media (min-width: $tablet-width) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
        width: 436px;
        margin-bottom: 69px;
        margin-top: 70px;
    }
}

.example__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $desktop-width) {
        margin-bottom: 60px;
    }
}

.example__result {
    width: 124px;
    height: 56px;
    border: 1px solid #CDCDCD;
    border-radius: 5px;

    font-size: 24px;
    line-height: 24px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
        font-size: 30px;
        line-height: 37px;

        margin-right: 42px;
        width: 162px;
        height: 72px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.example__result-element {
    font-family: "Arial";
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;

    text-align: center;
    position: absolute;
    width: 87px;
    top: 46px;
    left: calc(50% - 43.5px);
    background-color: #EAEAEA;

    @media (min-width: $tablet-width) {
        font-size: 14px;
        line-height: 14px;
        width: 114px;
        left: calc(50% - 57px);
        top: 62px;
        background-color: #ffffff;

        br {
            display: none;
        }
    }

    @media (min-width: $desktop-width) {
        background-color: #EAEAEA;
    }
}

.example__element--mod {
    @media (min-width: $tablet-width) {
        width: 142px;
        left: calc(50% - 71px);
    }
}

.example__nutrition-costs {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;

    width: 188px;
    margin: auto;
    margin-top: 34px;
    display: flex;

    @media (min-width: $tablet-width) {
        font-size: 20px;
        flex-direction: column;

        margin: 0;
        text-align: end;
    }

    @media (min-width: $desktop-width) {
        width: 436px;
        flex-direction: row;
    }

    p {
        margin: 0;
        margin-bottom: 9px;

        @media (min-width: $desktop-width) {
            margin-right: 63px;
        }
    }
}

.example__container {
    min-width: 280px;
    // padding: 0 20px;
    @media (min-width: $tablet-width) {
        // padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (min-width: $desktop-width) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.example__slider-image {
    margin-bottom: 23px;
    width: 311px;
    height: 232px;

    @media (min-width: $tablet-width) {
        width: 677px;
        height: 520px;
    }
}

.example__image--before {
    display: none;
    width: 311px;
    height: 232px;

    @media (min-width: $tablet-width) {
        width: 677px;
        height: 520px;
    }
}

.example__image--after {
    display: none;
    width: 251px;
    height: 240px;
    margin-left: 35px;

    @media (min-width: $tablet-width) {
        width: 545px;
        height: 520px;
        margin-left: 90px;
    }
}

.example__slider {
    position: absolute;
    left: calc(50% - 155.5px);

    @media (min-width: $tablet-width) {
        height: 620px;
        left: calc(50% - 338.5px);
        bottom: 0;
    }

    @media (min-width: $desktop-width) {
        top: -190px;
        left: -750px;
    }
}

.example__slider-condition {
    margin: auto;
    width: 228px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    @media (min-width: $tablet-width) {
        width: 580px;
        font-size: 20px;
        margin-bottom: 64px;
    }
}

.example__slider-button {
    margin: 0;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: transparent;
}

.example__slider-after-icon,
.example__slider-before-icon {
    display: none;
}

.example__slider-button--active {
    display: block;
}

.example__slider--active {
    display: block;
}

.example__background {
    position: relative;
    height: 300px;
    margin-top: 42px;
    @media (min-width: $tablet-width) {
        height: 462px;
        margin-top: 250px;
        background: #EAEAEA;
    }

    @media (min-width: $desktop-width) {
        margin: 0;
    }
}



.example__flex {
    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: space-between;
        background-color: #F2F2F2;
    }
}
