.form {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    li {
        list-style: none;


    }

    h2 {
        text-transform: initial;
        font-weight: 400;
    }
}

.form__cat-information__label,
.form__cat-owner-contacts__label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    input {
        width: auto;
        min-height: 46px;
        flex-grow: 1;

        font-family: 'Oswald';
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;


    }

    span {
        padding-right: 15px;
        display: block;
    }

    // input::-webkit-input-placeholder {
    //     font-size: 16px;
    //     line-height: 18px;
    //     text-transform: uppercase;
    //     color: #000000;
    // }

    // input:-ms-input-placeholder {
    //     font-size: 16px;
    //     line-height: 18px;
    //     text-transform: uppercase;
    //     color: #000000;
    // }

    // input::-moz-placeholder {
    //     font-size: 16px;
    //     line-height: 18px;
    //     text-transform: uppercase;
    //     color: #000000;
    // }

    // input:-moz-placeholder {
    //     font-size: 16px;
    //     line-height: 18px;
    //     text-transform: uppercase;
    //     color: #000000;
    // }

    @media (min-width: $desktop-width) {
        width: 570px;
    }

}

.form__input {
    border: 1px solid #E7E7E7;
    outline: 0;

    &:hover {
        border-color: #CDCDCD;
    }

    &:focus {
        border: 2px solid #444444;
    }
}


.form__input--e-mail {
    background-image: url(../../img/form/icon_email.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;

    &:focus {
        background-image: url(../../img/form/icon_email_green.svg);
    }
}

.form__input--tel {
    background-image: url(../../img/form/phone.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;

    &:focus {
        background-image: url(../../img/form/phone_green.svg);
    }
}

.form__input--error {
    border: 2px solid #FF8282;
}

.form__cat-owner-contacts__label--e-mail .form__input--error {
    background-image: url(../../img/form/icon_email_red.svg);
}

.form__cat-owner-contacts__label--tel .form__input--error {
    background-image: url(../../img/form/phone_red.svg);
}

.form__cat-information {
    padding: 0 20px;
    margin: 0;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
        padding: 0 66px 0 70px;
        margin-bottom: 72px;
    }

    @media (min-width: $desktop-width) {
        padding: 0 110px;
        padding-right: 0;
        margin: 0;
    }

}

.form__cat-information__item {
    margin-bottom: 13px;

    &:last-child {
        margin: 0;
    }
    @media (min-width: $tablet-width) {
        margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
        width: 570px;

    }
}

.form__cat-owner-contacts__item {
    margin-bottom: 14px;

    &:last-child {
        margin: 0;
    }
}

.form__composition__item {
    margin-bottom: 27px;

    &:last-child {
        margin: 0;
    }
}

.form__radio {
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
        border: 1px solid #E7E7E7;
        margin-left: 70px;
        margin-right: 66px;
        margin-bottom: 72px;

    }
    @media (min-width: $desktop-width) {
        width: 570px;
        margin-right: 110px;
    }

}

.form__radio-item {
    margin: 0;
    padding: 25px 20px;
}

.form__container {
    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: space-between;
    }
}

.form__cat-owner-contacts {
    padding: 0 20px;
    margin-top: 35px;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
        padding: 0 66px 0 70px;
        margin-top: 76px;
        margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
        padding: 0 110px;
        display: flex;
        justify-content: space-between;
    }

}

.form__green-line-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    align-items: center;
}

.form__h2 {
    font-family: 'Oswald';
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;

    padding-left: 20px;
    padding-right: 23px;
    margin: 0;

    @media (min-width: $tablet-width) {
        padding-left: 40px;
        padding-right: 40px;

        font-size: 36px;
        line-height: 36px;
    }

    @media (min-width: $desktop-width) {
        padding-left: 40px;
    }
}


.form__green-line-left {
    display: none;

    @media (min-width: $tablet-width) {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #68B738;
        margin: auto;
        margin-top: 21px;
    }

    @media (min-width: $desktop-width) {
        width: 70px;
    }
}

.form__green-line-rigth {
    height: 2px;
    background-color: #68B738;
    flex-grow: 1;

    margin: auto;
    margin-top: 15px;

    @media (min-width: $tablet-width) {
        margin-top: 21px;
    }

}

.form__h2-contacts {
    width: 227px;

    @media (min-width: $tablet-width) {
        width: auto;
    }
}

.form__input-comment {
    margin: 0 20px;
    margin-top: 37px;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
        margin: 76px 66px 65px 70px;
    }

    @media (min-width: $desktop-width) {
        margin: inherit 110px;
    }
}

.form__comment {
    width: 100%;
    min-width: 280px;
    min-height: 150px;
    border: 1px solid #E7E7E7;

    font-family: 'Oswald';
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.form__composition {
    padding: 0;
    margin: 0 20px;
    margin-top: 34px;
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: 2fr 2fr;

        margin: 57px 66px 0 70px;
    }

    @media (min-width: $desktop-width) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: inherit 110px;
    }
}


.form__button {

    @media (min-width: $desktop-width) {
        width: 570px;
    }
}

.form__footnote {
    font-family: 'Arial';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-transform: initial;

    margin-top: 21px;
    margin-bottom: 32px;
    margin-left: 60px;

    @media (min-width: $desktop-width) {
        margin-left: 80px;
    }
}

.form__button-and-footnote {
    margin: 0 20px;

    @media (min-width: $tablet-width) {
        display: flex;
        align-items: center;

        margin: 0 66px 72px 70px;
    }

    @media (min-width: $desktop-width) {
        margin: inherit 110px;
    }
}

.form__radio-list {
    padding-left: 20px;
}

.form__radio__item {
    margin: 0;
    padding: 0;
    margin-bottom: 28px;
}

.form__radio__indicator {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #CDCDCD;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: 0;


    &:hover {
        border-color: #BABABA;
    }
}

.form__radio__label {
    cursor: pointer;

    position: relative;
    padding-left: 45px;
}

.form__radio__label input[type="radio"]:checked + .form__radio__indicator::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #68B738;
    border-radius: 50%;
    position: absolute;

    top: calc(50% - 9px);
    left: calc(50% - 9px);
}

.form__composition-label {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.form__composition__indicator {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #CDCDCD;
    margin-right: 18px;

    position: relative;

    &:hover {
        border-color: #BABABA;
    }
}

.form__composition-label input[type="checkbox"]:checked + .form__composition__indicator::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 14px;
    top: 8px;
    left: 6px;

    background-image: url(../img/form/checkbox.svg);
    background-repeat: no-repeat;
}

.input-indicator--disabled,
input[disabled] + span,
input[disabled] + span + span {
    opacity: 0.3;
}
