.main-header__wrapper {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
        padding: 0 30px;
    }

    @media (min-width: $desktop-width) {
        padding: 0 110px;
    }
}

.main-header {
    width: 320px;
    min-height: 480px;
    margin: auto;
    position: relative;
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
        width: 768px;
        min-height: 840px;
    }

    @media (min-width: $desktop-width) {
        width: 1440px;
        min-height: calc(698px - 63px);
        margin-bottom: 80px;
    }
}

.main-header__description {
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
    margin: 0;

    h2 {
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        margin: 0;
        margin-bottom: 20px;

        @media (min-width: $tablet-width) {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 35px;
        }
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;

        @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 20px;
        }
    }

    @media (min-width: $tablet-width) {
        color: #000000;
        text-align: start;
        padding-left: 85px;
        padding-top: 60px;
        margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
        padding-left: 80px;
        padding-top: 110px;
    }

}

.main-header__fill {
    min-height: 302px;
    min-width: 320px;
    background-color: #68B738;
    opacity: 0.85;
    position: absolute;
    top: 0;
    z-index: -2;
    margin-left: -20px;

    @media (min-width: $desktop-width) {
        min-width: 720px;
        min-height: 694px;
        right: 0;
        margin-left: 0;
        margin-top: -63px;
    }
}

.main-header__cat {
    position: absolute;
    top: 0;
    z-index: -3;
    margin-left: -20px;

    @media (min-width: $desktop-width) {
        min-width: 720px;
        min-height: 694px;
        right: 0;
        margin-left: 0;
        margin-top: -63px;
    }
}

.main-header__box {
    @media (min-width: $tablet-width) {
        display: none;
    }

    @media (min-width: $desktop-width) {
        display: block;
    }
}

.main-header__can {
    position: absolute;
    width: 280px;
    height: 270px;
    top: 167px;
    left: 50%;
    margin-left: -135px;

    @media (min-width: $tablet-width) {
        width: 708px;
        height: 609px;
        top: 260px;
        margin-left: -354px;
        z-index: -1;
    }

    @media (min-width: $desktop-width) {
        width: 552px;
        height: 499px;
        left: auto;
        margin-left: 0;
        right: 330px;
        top: 32px;
        z-index: 3;
    }

}


.main-header__button {
    margin-left: 20px;
    margin-top: 302px;

    @media (min-width: $tablet-width) {
        width: 244px;
        height: 54px;
        margin-top: 0;
        margin-left: 115px;
    }

    @media (min-width: $desktop-width) {
        margin-left: 190px;
    }
}
