$mobile-width: 280px;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

.page-body {
    font-family: 'Oswald';
    font-weight: 400;
    max-width: $desktop-width;
    background-color: #ffffff;
    margin: 0 auto;


}

.page-body__wrapper {
    max-width: $desktop-width;
    margin: 0 auto;
    // @media (min-width: $desktop-width) {
    //     background-image: url(../../img/main-header/index-background-desktop.jpg);
    //     background-repeat: no-repeat;
    //     background-size: 720px 694px;
    //     background-position: top right;
    //     z-index: 1;
    // }
}

.main-navigation__list {
    @media (min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
