.page-footer__container {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.page-footer__cooperation__wrapper {
    margin-left: -20px;
}
