@font-face {
    font-family: 'Oswald';
    src: url("../fonts/Oswald-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url("../fonts/Oswald-Bold.woff") format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Oswald';
    src: url("../fonts/Oswald-Medium.woff") format('woff');
    font-weight: 500;
}

@import "blocks/page-body.scss";
@import "blocks/page-header.scss";
@import "blocks/main.scss";

@import "blocks/diet.scss";
@import "blocks/instruction.scss";



// $mobile-width: 280px;
// $tablet-width: 768px;
// $desktop-width: 1220px;


// html,
// *,
// h1, h2, h3, h4, h5, h6,
// ::after,
// ::before {
//     box-sizing: border-box;
// }
